.Major-container {
  margin: 50px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.5s ease-in-out;
  box-sizing: border-box;
  border-radius: 15px;
}

.Buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Timer-buttons {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.start-button {
  background-color: aliceblue;
  color: rgb(186, 73, 73);
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-family: "Arial";
  font-size: 22px;
  font-weight: bold;
  width: 200px;
  height: 55px;
  border: none;
  border-radius: 8px;
  margin-right: 20px;
}

.start-button-active {
  background-color: aliceblue;
  color: rgb(186, 73, 73);
  font-family: "Arial";
  font-size: 22px;
  font-weight: bold;
  width: 200px;
  height: 55px;
  border: none;
  border-radius: 8px;
  margin-right: 20px;
  transform: translateY(6px);
}

.extra-buttons-active {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  opacity: 0;
  right: 40px;
  gap: 15px;
}

.extra-buttons {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  opacity: 1;
  right: 40px;
  gap: 15px;
}

.Timer {
  font-size: 120px;
  font-weight: bold;
  font-family: "Arial Rounded";
}

.iconRestart {
  width: 20px;
}

.restart {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(58, 58, 58);
  /* font-family: "Arial Rounded"; */
  font-size: 19px;
}
